/* Fondo de imagen para resoluciones menores o iguales a 768px */
@media (max-width: 2048px) {
    body {
        background-image: url('clove.jpg');
        background-size: cover;
        background-color: #1e1d1d;
    }
}

/* Fondo de color para resoluciones mayores a 768px */
@media (min-width: 2048px) {
    body {
        background-color: #1e1d1d;
        /* Fondo de color para resoluciones mayores a 768px */
    }
}

/* Resto de estilos */
.menu-bar {
    background-color: #33333300;
    position: relative;
    z-index: 1000;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.menu-bar ul li:last-child {
    margin-right: 0;
}

.menu-bar ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(247, 247, 247);
}

.menu-bar ul li a:hover {
    background-color: #555555;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    min-width: 160px;
    white-space: nowrap;
}

.dropdown-content a {
    display: inline-block;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    border-right: 1px solid #555;
}

.dropdown-content a:last-child {
    border-right: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}

.menu-bar ul li img {
    height: 50px;
    width: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #33333300;
}

.dropdown-content li {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}