.menu-bar {
    background-color: #33333300;
    /* Background color of the menu bar */
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    display: inline-block;
    margin-right: 20px;
    /* Adjust spacing between menu items */
}

.menu-bar ul li:last-child {
    margin-right: 0;
    /* Remove margin from the last menu item */
}

.menu-bar ul li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* Text color of the menu items */
}

.menu-bar ul li a:hover {
    background-color: #555555;
    /* Background color on hover */
}

.menu-bar ul li img {
    height: 50px;
    /* Adjust the height of the image */
    width: 50px;
    /* Adjust the width of the image */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #33333300;
    /* Background color of the dropdown */
}

.dropdown-content li {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}